<div data-shopName="{{ shop.permanent_domain }}" id="support-ai-chat-place" style="position: fixed; bottom: 1rem; right: 1rem; z-index: 10000" data-shopId="{{ shop.id }}"></div>
<link
  rel="stylesheet"
  href="https://chat-assistant-app-b47c5af582bc.herokuapp.com/embeded/chat.css"
/>
<script
  id="support-ai-chat-id"
  type="module"
  src="https://chat-assistant-app-b47c5af582bc.herokuapp.com/embeded/chat.js"
  defer
></script>

{% schema %}
  {
    "name": "AI Assistant widget",
    "target": "body",
    "settings": []
  }
{% endschema %}