<div id="remix-embed" style="position: fixed; bottom: 0; right: 0"  data-shop="{{ shop.permanent_domain }}">embeded</div>
<script
  type="module"
  src="https://transaction-lobby-scout-way.trycloudflare.com/embeded/chat.js?shop=offline_nikasoul-store.myshopify.com"
  defer
></script>

{% schema %}
  {
    "name": "Assistant chat",
    "target": "body",
    "settings": []
  }
{% endschema %}