<div id="support-ai-chat-place" style="position: fixed; bottom: 0; right: 0"  data-shop="{{ shop.id }}">embeded</div>
<script
  id="support-ai-chat-id"
  type="module"
  data-shopId="offline_nikasoul-store.myshopify.com"
  src="https://shoulder-software-renaissance-rim.trycloudflare.com/embeded/chat.js"
  defer
></script>

{% schema %}
  {
    "name": "Assistant chat",
    "target": "body",
    "settings": []
  }
{% endschema %}