<div data-shopName="{{ shop.permanent_domain }}" id="support-ai-chat-place" style="position: fixed; bottom: 1rem; right: 1rem; z-index: 10000" data-shopId="{{ shop.id }}"></div>
<link
  rel="stylesheet"
  href="{{ shop.url }}/apps/chat?file=chat.js"
/>
<script
  id="support-ai-chat-id"
  type="module"
  src="{{ shop.url }}/apps/chat?file=chat.css"
  defer
></script>

{% schema %}
  {
    "name": "AI Assistant widget",
    "target": "body",
    "settings": []
  }
{% endschema %}