/* ../../../../../../private/var/folders/d8/kn6sfphj67n572x21m44vz4r0000gn/T/tmp-6239-coJ1ojU41FLW/Users/ruslan/my/shopify/apps/shopify-ai-bot/app/components/publicChat/styles.css */
*,
::after,
::before {
  box-sizing: border-box;
  font-family:
    "Inter",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-seri;
}
.h774a4d1b28999b6f09bcfc77e355d140 {
  width: 100%;
  min-width: 25rem;
  height: 40rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: rgba(22, 22, 22, 0.1) 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
}
.he6d66f9e6b46f78c33a25a2f4e2727db {
  width: 100%;
  padding: 0 0.75rem;
  display: flex;
  flex: 1 1 0%;
  overflow: scroll;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #fff;
  scrollbar-width: none;
}
.he6d66f9e6b46f78c33a25a2f4e2727db::-webkit-scrollbar {
  display: none;
}
.hbcd11eadacf6e878cc5d088fd2dd1f18 {
  padding: 1rem 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 0.5rem;
  background-color: #fff;
  width: 100%;
}
.hf9bbf5b4cef36333da1e1a0e5e52dac9 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.hcb8000a2fdab8cbc4b8ca22a37187332 {
  background-color: rgb(235, 235, 235);
  padding: 0.75rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.h3563e706d334b94921b3dc0e2907d927 {
  background-color: #fff;
  padding: 0.75rem;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}
.ha4bab7eeecaa91ea4f0872e7c318ac19 {
  flex-grow: 1;
  min-height: 2rem;
  max-height: 12rem;
  font-size: 12px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 8px 12px;
  outline: none;
  resize: none;
  color: #161616;
  background-color: #eeeeee;
  border: none;
}
.ha4bab7eeecaa91ea4f0872e7c318ac19:active,
.ha4bab7eeecaa91ea4f0872e7c318ac19:focus {
  box-shadow: none;
  border: none;
}
.hd78911af412047aaaeeec843fd207fee {
  margin-top: auto;
}
.hca8b2f797f42681f53f75219f2a4dca4 {
  cursor: pointer;
  padding: 0.5rem;
  background-color: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
.h1c664af74b1049f05dbf4e19d3965286 {
  width: fit-content;
  border-radius: 14px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 90%;
  white-space: pre-wrap;
}
.h4757b482d98da7b7475a320b36312a38 {
  align-self: flex-end;
  background-color: rgb(235, 235, 235);
}
.h3c3c2c23d23e5e0743583b163d09c370 {
  background-color: rgb(244, 245, 247);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
.h5407e59bd301bb3c40f9471246cee170 {
  margin: 0;
  font-size: 11px;
  line-height: 120%;
}
.hc2b46c210bc66e168d5c2e04d4f9e2bf {
  margin-left: auto;
}
.h8ee64ea3d8c80237a978f7c81fd439fb {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.h785652ebe3b5309d4b56ed17aa4e07dc {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hfe683dda8cf26d8ae47875b21719c4c4 {
  animation: rotate 1s infinite linear;
  transform-origin: center;
}
.hdd1350ad0287d035ed4062ed9a1369c5 {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  height: 1rem;
  padding: 0 0.5rem;
}
.h1334828b8ea1795afd5a59ae0330c57b {
  display: block !important;
  min-width: 0.5rem;
  min-height: 0.5rem;
  background-color: #767575;
  border-radius: 50%;
  animation: typingAnimation 1.5s infinite ease-in-out;
}
.h1334828b8ea1795afd5a59ae0330c57b:nth-child(1) {
  animation-delay: 0s;
}
.h1334828b8ea1795afd5a59ae0330c57b:nth-child(2) {
  animation-delay: 0.2s;
}
.h1334828b8ea1795afd5a59ae0330c57b:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes typingAnimation {
  0%, 80%, 100% {
    opacity: 0.3;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    transform: translateY(-4px);
  }
}
