/* ../../../../../../../private/var/folders/d8/kn6sfphj67n572x21m44vz4r0000gn/T/tmp-95189-AvvXRs8ikrHc/Users/ruslan/my/shopify/apps/ai-assistant/shopify-ai-bot/app/components/publicChat/styles.css */
*,
::after,
::before {
  box-sizing: border-box;
  font-family:
    "Inter",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-seri;
}
.hdde05858262e5c78bb1994606b1838a5 {
  width: 100%;
  min-width: 25rem;
  height: 40rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: rgba(22, 22, 22, 0.1) 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
}
.hf163778e6e6cce786c84ded6b1d8dad0 {
  width: 100%;
  padding: 0 0.75rem;
  display: flex;
  flex: 1 1 0%;
  overflow: scroll;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #fff;
  scrollbar-width: none;
}
.hf163778e6e6cce786c84ded6b1d8dad0::-webkit-scrollbar {
  display: none;
}
.h7247d51e19156787dd6b28594ba97ac8 {
  padding: 1rem 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 0.5rem;
  background-color: #fff;
  width: 100%;
}
.h1994c55324e8a1df71e89c725209c10d {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.hb8254dd228291bf23f006762a02b16ca {
  background-color: rgb(235, 235, 235);
  padding: 0.75rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.h1dc107ee04e7f30f759b8e49b1d1c65c {
  background-color: #fff;
  padding: 0.75rem;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}
.h5678e29c06937a2ae27ae29d1638aff1 {
  flex-grow: 1;
  min-height: 2rem;
  max-height: 12rem;
  font-size: 12px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 8px 12px;
  outline: none;
  resize: none;
  color: #161616;
  background-color: #eeeeee;
  border: none;
}
.h5678e29c06937a2ae27ae29d1638aff1:active,
.h5678e29c06937a2ae27ae29d1638aff1:focus {
  box-shadow: none;
  border: none;
}
.h41c5b395e27d5b11e6cdd6772e96f3fe {
  margin-top: auto;
}
.hf43a58eb5338a6163f5483d3e78a948e {
  cursor: pointer;
  padding: 0.5rem;
  background-color: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
.he29d5a3f5edada362cf9c76ae8ee74f4 {
  width: fit-content;
  border-radius: 14px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 90%;
  white-space: pre-wrap;
}
.h8476b1b5469e89b9df1fb13f67e04f87 {
  align-self: flex-end;
  background-color: rgb(235, 235, 235);
}
.h925c97b370796d7a9715591b89d860b2 {
  background-color: rgb(244, 245, 247);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
.h58db78869c4846ef8e747b69f48876d1 {
  margin: 0;
  font-size: 11px;
  line-height: 120%;
}
.h4a253e8b80988cd9461cc95bad0c989f {
  margin-left: auto;
}
.h8a17a3d7ef7c5a2b60cbbeb9767a94c8 {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.h09d57c3afe2435fbe8d277abc7e3c9c7 {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.h598bc54c6da0ebd4a3c95a370ae1c4af {
  animation: rotate 1s infinite linear;
  transform-origin: center;
}
.hf00afea26de915219b423fc19abf17ae {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  height: 1rem;
  padding: 0 0.5rem;
}
.ha548977bd48cd7237aa74345176dd2ae {
  display: block !important;
  min-width: 0.5rem;
  min-height: 0.5rem;
  background-color: #767575;
  border-radius: 50%;
  animation: typingAnimation 1.5s infinite ease-in-out;
}
.ha548977bd48cd7237aa74345176dd2ae:nth-child(1) {
  animation-delay: 0s;
}
.ha548977bd48cd7237aa74345176dd2ae:nth-child(2) {
  animation-delay: 0.2s;
}
.ha548977bd48cd7237aa74345176dd2ae:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes typingAnimation {
  0%, 80%, 100% {
    opacity: 0.3;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    transform: translateY(-4px);
  }
}
